.font-size-12 {
  font-size: 12px !important;
}

.round-button {
  border-radius: 50px !important;
}

.round-button:hover {
  background-color: #eaeaea !important;
}

.slick-dots-custom {
  margin-top: 200px;
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}


.dark-indigo .slick-dots-custom li.slick-active button:before {
  border-color: #3f51b5;
}
 .slick-dots-custom li.slick-active button:before {
   color: transparent !important;
   border-color: #3f51b5;
   width: 12px !important;
   height: 12px !important;
   line-height: 12px !important;
 }

 .slick-dots-custom li.slick-active button:before {
   opacity: .75;
   color: black;
 }

 .slick-dots-custom li button:before {
   width: 10px !important;
   height: 10px !important;
   line-height: 10px !important;
   color: transparent !important;
   border: solid 2px #000;
   border-radius: 50%;
 }

 .slick-dots-custom li button:before {
   font-family: 'slick';
   font-size: 6px;
   line-height: 20px;
   position: absolute;
   top: 0;
   left: 0;
   width: 20px;
   height: 20px;
   content: '•';
   text-align: center;
   opacity: .25;
   color: black;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
